body {
    margin: 0;
    background-color: lightgrey;
}

main {
    margin-top: 120px;
    display: inline-block;
    background-color: white;
    width: 680px;
    height: 500px;
    margin-left: calc(50% - 340px);
    border-radius: 2%;
    box-shadow: 20px 20px 35px -25px;
    
}

main > header {
    width: 100%;
    margin-bottom: 30px;
}

main > header > svg {
    float: left;
    padding: 30px; 
    color: black;
}

section {
    display: inline-block;
    width: 100%;

}

img {
    width: 25%;
    margin-right: 10%;
    margin-left: 15%;
    float: left;
    margin-top: 60px;
}
div {
    width: 35%;
    float: left;
    margin-right: 10%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 59px;
}

h1 {
    font-size: 120px;
    margin: 0;
    line-height: 1.2em;
    margin-top: -0.3em;
    color: blue;
}

div p:nth-child(2) {
    font-size: 16px;
    line-height: 1em;
    margin-top: 0.3em;
    font-weight: bold;
    text-transform: uppercase;
}

section> div > p:nth-child(3) {
    font-size: 14px;
    margin-top: 0.3em;
    color: lightslategray;
}

a {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    line-height: 1em;
    margin-top: 2em;
    padding: 15px 0px;
}

footer {
    width: 100%;
}

footer > svg {
    padding: 0 10px;
}